.user {
  display: block;
  color: #333333;
  font-size: 2rem;
  line-height: 3rem;
  padding: 0.5rem;
}
.user.active {
  color: #fff;
  background-color: #696969;
}
.user img {
  width: 5rem;
}
.user_name {
  display: inline-block;
  padding: 1rem 1rem;
}
