.users {
}
.container {
  display: flex;
  padding: 1rem;
}
.avatar {
  padding: 0 1rem 0;
}
.img {
  width: 6rem;
  height: 6rem;
}
.button {
  display: block;
  padding: 0.3rem;
  margin: 0.5rem auto 1.5rem;
  /* background: #333333; */
  /* color: #fff; */
}
.data {
  border: 0.1rem solid #000;
  margin: 0 1rem 1.5rem;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.nameStatus {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
}
.name {
  font-size: 2rem;
}
.status {
  font-size: 1.5rem;
  align-self: end;
}
.location {
  font-size: 1.5rem;
  justify-self: end;
}
.country {
  margin: 0 0 1rem;
}
.city {
}
.pagination {
  text-align: center;
  margin: 2rem 0 1rem 0;
}
.pagination button {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.2rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  background-color: #696969;
  color: #fff;
}
button.selectedPage {
  color: #000;
}
