.users {
}
.container {
  display: flex;
  padding: 10px;
}
.avatar {
  padding: 0 10px 0;
}
.img {
  width: 60px;
  height: 60px;
}
.button {
  display: block;
  padding: 3px;
  margin: 5px auto 15px;
  /* background: #333333; */
  /* color: #fff; */
}
.data {
  border: 1px solid #000;
  margin: 0 10px 15px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.nameStatus {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
}
.name {
  font-size: 20px;
}
.status {
  font-size: 15px;
  align-self: end;
}
.location {
  font-size: 15px;
  justify-self: end;
}
.country {
  margin: 0 0 10px;
}
.city {
}
.pagination {
  font-size: 20px;
  text-align: center;
}
.pagination span {
  display: inline-block;
  cursor: pointer;
  margin: 5px 5px;
  padding: 2px;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #696969;
  color: #fff;
}
span.selectedPage {
  color: #000;
}
