.header {
  grid-area: header;
  background-color: #333;
  padding: 1rem;
}
.header img {
  width: 8rem;
  border-radius: 50%;
}
.loginBlock {
  margin: 0.5rem 0;
  float: right;
}
.link {
  font-size: 2rem;
  color: #fff;
}
