.post {
  margin: 0 0 2rem 0;
}
.item {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.message {
  font-size: 1.5rem;
  line-height: 2rem;
}
.img {
  width: 10rem;
  margin: 0 1rem 1rem 0;
  /* border-radius: 50%; */
}
.like {
  padding: 0.3rem;
  background-color: #333333;
  color: #fff;
  font-size: 1.2rem;
}
